/*                 Importation des polices          */

@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");

* {
  scroll-behavior: smooth;
}

li,
a {
  list-style: none;
  text-decoration: none;

  color: white;
}

body {
  background-color: black;
  color: white;
  background: radial-gradient(
    circle at center,
    #2c2929 0%,
    #000000 100%
  ); /* permet de mettre un ptit dégradé a la page complete*/
  margin: 0;
}

/* HEADER */
header {
  border-top: 1px solid rgba(41, 41, 41, 0.489);
  display: flex;
  justify-content: space-between; /* espace entre le titre et le menu */
  align-items: center; /* centre verticalement */
  background: linear-gradient(rgb(241, 184, 51), rgb(0, 0, 0));
  padding: 10px 30px;
}

header img {
  border-radius: 10px;
}

/* Liste de navigation à droite */
ul {
  list-style: none; /* enlève les puces */
  display: flex;
  gap: 50px; /* espace entre les éléments */
  margin: 0;
  padding: 0;
}

/* Liens du menu */
li {
  transition: color 1s;
}

header li:hover {
  color: rgb(0, 0, 0);
}

header ul a li {
  font-family: "Lato", sans-serif;
  font-weight: 700; /* Poids léger pour l'élégance */
  font-size: 20px;
}
.bg-penthouse {
  background: linear-gradient(rgb(0, 0, 0), rgb(24, 24, 24));
}
.tour a h2:hover {
  color: rgb(255, 0, 0);
  transition: 1s;
}

/* Penthouse partie */

.tour {
  padding: 20px;
}

.tour a,
h2 {
  text-align: center;
  font-style: italic;
  font-family: "Lato", sans-serif;
  font-weight: 700; /* Poids léger pour l'élégance */
}

.tour a h2 {
  text-decoration: none;
  color: gold;
  margin-bottom: 2%;
}

.tour li {
  list-style: none;
  margin-bottom: -1%;
}

.tour h2 {
  color: gold;
}

.border-grey {
  border-top: 1px solid rgba(132, 132, 132, 0.489);
  border-bottom: 1px solid rgba(132, 132, 132, 0.489);
}

.border-grey-perso {
  border-top: 1px solid rgba(132, 132, 132, 0.489);
  border-bottom: 1px solid rgba(132, 132, 132, 0.489);
}
.penthouse-img {
  display: flex;
  justify-content: center;
  width: 100%;
}

.penthouse-img img {
  border-radius: 10px;
  border: 3px solid rgba(41, 41, 41, 0.489);
  margin-bottom: 10%;

  transition: transform 1s ease-out;
}

.penthouse-img:hover img {
  /* Petit zoom */
  transform: scale(1.02);
  /* petit effet doré sur les bordures qd on passe dessus*/
  box-shadow: 0 0 10px rgba(255, 215, 0, 0.5);
}

/* BOX RESUME */
.resume {
  margin-top: 5%;
  margin-bottom: 5%;
}
.resume h2 {
  letter-spacing: 2px;
  margin-left: -1250px;
  font-size: 40px;
  font-family: "Cinzel", serif;
  font-weight: 700;
  font-style: italic;
}
.resume p {
  margin-left: 8%;
  min-width: 600px;
  max-width: 600px;
}

.resume h3 {
  margin-left: 8%;
  color: gold;
  /*  STYLE*/
  font-style: italic;
  font-family: "Lato", sans-serif;
  font-weight: 700; /* Poids léger pour l'élégance */
}

.resume a {
  color: gold;
  text-decoration: none;
}

.resume a:hover {
  color: rgb(255, 255, 255);
  transition: 1s;
}

/* placement de l'image */
.img-seol-a {
  margin-left: 60%;
  margin-top: -170px;
}

.img-seol-a img {
  border-radius: 10px;
  border: 3px solid rgba(41, 41, 41, 0.489);
}

.img-seol-a img {
  border-radius: 10px;
  border: 3px solid rgba(41, 41, 41, 0.489);
  margin-bottom: 10%;

  transition: transform 3s ease-out;
}

.img-seol-a:hover img {
  /* Petit zoom */
  transform: scale(1.05);
  /* petit effet doré sur les bordures qd on passe dessus*/
  box-shadow: 0 0 10px rgba(255, 215, 0, 0.5);
}
/*                      */
/* box des personnages*/
/*                  */

.perso h2 {
  text-align: center;
  letter-spacing: 2px;
  margin-bottom: 5%;
  margin-top: 5%;
  color: gold;
  font-size: 40px;
  font-family: "Cinzel", serif;
  font-weight: 700;
}

.personnages-container {
  display: flex; /* Active Flexbox */
  justify-content: center; /* Commence l'alignement à gauche */

  gap: 110px;
  margin-top: 1%;
  border-radius: 10px;
  margin-bottom: 5%;
}
/* ajt d'effet de zoom qd je passe sur une image */
.personnage-carte img {
  transition: transform 1s ease-out;
}

.personnage-carte:hover img {
  /* Petit zoom */
  transform: scale(1.02);
  /* petit effet doré sur les bordures qd on passe dessus*/
  box-shadow: 0 0 10px rgba(255, 215, 0, 0.5);
}

.perso-container-bas {
  display: flex;
  justify-content: center;
  gap: 100px;
}

.personnage-carte {
  display: flex;
  flex-direction: column; /* Empile le nom et l'image verticalement */
  align-items: center; /* Centre les éléments horizontalement */
}

.nom-perso {
  color: rgb(255, 255, 255);
  font-family: "Playfair Display", serif;
  font-weight: 700;
  font-style: italic;
  font-size: 20px;
  margin: 10px 0 5px 0;
  text-align: center;

  margin-bottom: 20px;
}

.nom-perso a {
  text-decoration: none;
}

.nom-perso a:hover {
  color: gold;
  transition: 1s;
}

/* qd je passe sur le prenom des prsng et leur description ca passe en jaune */
.personnage-carte p:hover {
  color: gold;
  transition: 1s;
}

.personnage-carte img {
  border: 3px solid rgba(41, 41, 41, 0.489);
  border-radius: 16px;
  border-bottom: 10px solid rgba(41, 41, 41, 0.489);
}

.degrader-gold {
  background: linear-gradient(to right, gold, #7d6f00);
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.degrader-blanc {
  background: linear-gradient(to right, #ffffff, #5b5b5b);

  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.degrader-blanc-footer {
  background: linear-gradient(to right, #ffffff, #8d8d8d);

  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.description-perso {
  display: flex;

  gap: 130px;
}
.description-perso p {
  /* couleur */
  border: 3px solid rgba(41, 41, 41, 0.489);
  border-radius: 10px;
  border-top: 0;
  color: rgb(255, 255, 255);

  margin: 0;
  margin-bottom: 15%; /* laisse de l'espace pour mettre la border qui delimite les grande parties*/

  /* pr centrer le txt et qu'il prenne tt la place de la box */
  display: flex;
  text-align: center;
  align-items: center;

  /* alignement du txt */
  min-width: 230px;
  max-width: 230px;
  min-height: 100px;
  max-height: 100px;
}

/* Info sur Min Seol-a */
/* Permet de mettre du texte en dégradé gold */

.min_seol-a-perso img {
  border: 3px solid transparent;
}

.min_seol-a-perso p {
  border: 3px solid transparent;
  border-image: linear-gradient(45deg, gold, #ffd700, #b8860b) 1;

  /* alignement du txt */

  min-width: 330px;
  max-width: 330px;
  min-height: 100px;
  max-height: 100px;

  /* Centrage du texte à l'intérieur du bloc */
  display: flex;
  text-align: center;
  align-items: center;

  color: white;
}

.seol-a-nom a:hover,
.min_seol-a-perso p:hover {
  color: gold;
  transition: 1s;
}

.seol-a-container {
  display: flex;
  justify-content: center;
}
.seol-a-carte {
  display: flex;

  align-items: center;
  flex-direction: column;
}
.seol-a-nom a {
  display: flex;
  text-align: center;
  justify-content: center;
  text-decoration: none;
  color: white;
  margin-bottom: 2%;
  font-style: oblique;
  font-size: 30px;
}

/* membres cles */

.membres-cles {
  display: flex;
  justify-content: center;
  margin-top: 3%;
  border-bottom: 1px solid rgba(132, 132, 132, 0.489);
  margin-bottom: 5%;
}
.membres-cles p {
  color: white;
  text-align: center;
  font-size: 20px;
  font-family: "Playfair Display", serif;
  font-weight: 700; /* Poids gras pour les titres */
  margin-bottom: 5%;
}

.oblic {
  font-style: oblique;
  font-size: 20px;
  text-align: center;
}

/* Box saisons  */

.seasons-container {
  max-width: 70%;
  margin: 0 auto;
  padding: 60px 20px;
}

.seasons-container h2 {
  letter-spacing: 2px;
  text-align: center;
  font-size: 40px;
  font-family: "Cinzel", serif;
  font-weight: 700;
  font-style: oblique;
  margin-bottom: 5%;
}

/* CSS de la partie labday */

.page-title {
  margin-top: 10%;
  font-family: "Poppins", sans-serif;

  font-weight: 900;
  font-size: 3.5rem;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 100px;

  border-bottom: 1px solid rgba(85, 85, 85, 0.489);
}

.season-card {
  background: radial-gradient(circle at center, #242424 0%, #000000 100%);
  border-radius: 6px;
  margin-bottom: 25px;
  padding: 30px;
  display: flex;
  align-items: center;
  gap: 30px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  border-left-width: 5px;
  border-left-style: solid;
}

/* --- BORDURES COLORÉES --- */

.border-yellow {
  display: flex;
  align-items: center;
  border-left-color: #dcb12d;
}

.season-thumbnail {
  width: 280px;
  height: 160px;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 4px;
}

.season-thumbnail span {
  font-family: "Lato", sans-serif;
  font-size: 1.6rem;
  font-weight: 600;
  color: #ffffff;
}

.season-thumbnail span img {
  transition: transform 1s ease-out;
  border-radius: 10px;
  border: 1px solid rgba(85, 85, 85, 0.489);
  transition: transform 1s ease-out;
}
.season-thumbnail span img:hover {
  display: flex;
  border-radius: 10px;
  transform: scale(1.02);
  /* petit effet doré sur les bordures qd on passe dessus*/
  box-shadow: 0 0 10px rgba(255, 215, 0, 0.5);
}
/* --- CONTENU TEXTE --- */
.season-content {
  flex: 1;
  display: flex;
  flex-direction: column;
}

a,
li {
  text-decoration: none;
  list-style-type: none;
}

.season-content h2 {
  font-family: "Cinzel", serif;
  font-size: 1.4rem;
  color: #ffffff;
  text-transform: uppercase;
  margin-bottom: 12px;
  letter-spacing: 1px;
}

.description {
  text-align: center;
  max-width: 290px;
  color: #aeb4c0;
  font-size: 1rem;
  margin-bottom: 15px;
}

.highlight {
  color: #6e7681;
  font-style: italic;
  font-size: 0.9rem;
}

/* FOOTER */
footer {
  padding: 10px;
  margin-top: 5%;
  background: linear-gradient(rgb(0, 0, 0), rgb(241, 184, 51));
  height: 170px;
}

.fin-page h4 {
  display: flex;
  justify-content: center;
  text-align: center;

  font-size: 30px;

  font-family: "Cinzel", serif;
  line-height: 1.2; /* ou 1.3 */
}
